Source: mb-libjsonrpc
Section: libs
Priority: extra
Maintainer: MakerBot Industries dev team <dev@makerbot.com>
Build-Depends: debhelper (>= 8.0.0), cdbs, scons, libjsoncpp-dev
Standards-Version: 3.9.2
Homepage: https://github.com/makerbot/json-cpp
#Vcs-Git: git@github.com:makerbot/json-cpp.git
#Vcs-Browser: https://github.com/makerbot/json-cpp

Package: mb-libjsonrpc
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mb-libstdc++6
Description: MakerBot RPC JSON library runtime shared object

Package: mb-libjsonrpc-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjsoncpp-dev, mb-libjsonrpc (=2.0.0)
Description: MakerBot RPC JSON library development headers
